<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>
	<module name="global"><param name="randomSeed" value="4711" /><param name="coordinateSystem" value="Atlantis" /></module>
	<module name="network"><param name="inputNetworkFile" value="../../../../assets/pt_tutorial/multimodalnetwork.xml" /></module>
	<module name="plans"><param name="inputPlansFile" value="../queue_doors_common/plans.xml" /></module>
	<module name="vehicles"><param name="vehiclesFile" value="../../../../assets/pt_tutorial/vehicles.xml" /></module>
	<module name="transit">
		<param name="vehiclesFile" value="transitVehicles.xml" />
		<param name="transitScheduleFile" value="../queue_doors_common/transitSchedule.xml" />
		<param name="useTransit" value="true" />
		<param name="usingTransitInMobsim" value="true" />
	</module>
	<module name="qsim">
		<param name="startTime" value="0" /><param name="endTime" value="24:00:00" />
		<param name="timeStepSize" value="1.0" /><param name="insertingWaitingVehiclesBeforeDrivingVehicles" value="true" />
		<param name="removeStuckVehicles" value="false" /><param name="snapshotperiod" value="00:00:00" />
	</module>
	<module name="controller">
		<param name="firstIteration" value="0" /><param name="lastIteration" value="0" />
		<param name="outputDirectory" value="out" /><param name="overwriteFiles" value="deleteDirectoryIfExists" />
		<param name="eventsFileFormat" value="xml" /><param name="compressionType" value="none" />
		<param name="writeEventsInterval" value="1" />
	</module>
	<module name="scoring">
		<parameterset type="scoringParameters">
			<parameterset type="modeParams"><param name="mode" value="car" /><param name="marginalUtilityOfTraveling_util_hr" value="-6" /></parameterset>
			<parameterset type="modeParams"><param name="mode" value="walk" /><param name="marginalUtilityOfTraveling_util_hr" value="-6" /></parameterset>
			<parameterset type="modeParams"><param name="mode" value="pt" /><param name="marginalUtilityOfTraveling_util_hr" value="-6" /></parameterset>
			<parameterset type="activityParams"><param name="activityType" value="h" /><param name="typicalDuration" value="12:00:00" /></parameterset>
			<parameterset type="activityParams"><param name="activityType" value="w" /><param name="typicalDuration" value="08:00:00" /></parameterset>
		</parameterset>
	</module>
</config>
